openapi: 3.0.0
info:
  title: OpenWeatherMap API
  version: '2.5'
  description: 'Gets the current weather, daily forecast for 16 days, and a three-hour-interval forecast for 5 days for your city. Helpful stats, graphics, and this day in history charts are available for your reference. Interactive maps show precipitation, clouds, pressure, wind around your location stations. Data is available in JSON, XML, or HTML format. **Note**: This sample Swagger file covers the `current` endpoint only from the OpenWeatherMap API. <br/><br/> **Note**: All parameters are optional, but you must select at least one parameter. Calling the API by city ID (using the `id` parameter) will provide the most precise location results.'
  contact:
    name: Support
    url: 'https://openweathermap.org/api'
    email: luser@aol.com
  termsOfService: 'https://openweathermap.org/terms'
  license:
    name: CC Attribution-ShareAlike 4.0 (CC BY-SA 4.0)
    url: 'https://openweathermap.org/price'
servers:
  - url: 'https://api.openweathermap.org/data/2.5'
    description: prod
paths:
  /weather:
    get:
      summary: Your GET endpoint
      tags:
        - weather endpoints
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  coord:
                    type: object
                    properties:
                      lon:
                        type: number
                        description: 'City geo location, longitude'
                      lat:
                        type: number
                        description: 'City geo location, latitude'
                  sys:
                    type: object
                    properties:
                      type:
                        type: number
                        description: Internal parameter
                      id:
                        type: number
                        description: Internal parameter
                      country:
                        type: string
                        description: 'Country code (GB, JP etc.)'
                      sunrise:
                        type: number
                        description: 'Sunrise time, unix, UTC'
                      sunset:
                        type: number
                        description: 'Sunset time, unix, UTC'
                      message:
                        type: number
                        description: Internal parameter
                  clouds:
                    type: object
                    properties:
                      all:
                        type: number
                        description: 'Cloudiness, %'
                  wind:
                    type: object
                    properties:
                      speed:
                        type: number
                        description: 'Wind speed. Unit Default: meter/sec, Metric: meter/sec, Imperial: miles/hour.'
                      deg:
                        type: number
                        description: 'Wind direction, degrees (meteorological)'
                      gust:
                        type: number
                        description: 'Wind gust. Unit Default: meter/sec, Metric: meter/sec, Imperial: miles/hour'
                  main:
                    type: object
                    properties:
                      temp:
                        type: number
                        description: 'Temperature. Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.'
                      feels_like:
                        type: number
                        description: 'Temperature. This temperature parameter accounts for the human perception of weather. Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.'
                      temp_min:
                        type: number
                        description: 'Minimum temperature at the moment. This is minimal currently observed temperature (within large megalopolises and urban areas). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.'
                      temp_max:
                        type: number
                        description: 'Maximum temperature at the moment. This is maximal currently observed temperature (within large megalopolises and urban areas). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.'
                      pressure:
                        type: number
                        description: 'Atmospheric pressure (on the sea level, if there is no sea_level or grnd_level data), hPa'
                      humidity:
                        type: number
                        description: 'Humidity, %'
                      sea_level:
                        type: number
                        description: 'Atmospheric pressure on the sea level, hPa'
                      grnd_level:
                        type: number
                        description: 'Atmospheric pressure on the ground level, hPa'
                  weather:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                          description: Weather condition id
                        main:
                          type: string
                          description: 'Group of weather parameters (Rain, Snow, Extreme etc.)'
                        description:
                          type: string
                          description: 'Weather condition within the group. You can get the output in your language.[Learn more](https://openweathermap.org/current#multi)'
                        icon:
                          type: string
                          description: Weather icon id
                  dt:
                    type: string
                    description: 'Time of data calculation, unix, UTC'
                  base:
                    type: string
                    description: Internal parameter
                  timezone:
                    type: number
                    description: Shift in seconds from UTC
                  id:
                    type: number
                    description: City ID
                  name:
                    type: string
                    description: City name
                  cod:
                    type: number
                    description: Internal parameter
              examples: {}
            application/xml:
              schema:
                type: object
                properties: {}
      operationId: get-weather
      description: 'Access current weather data for any location on Earth including over 200,000 cities! Current weather is frequently updated based on global models and data from more than 40,000 weather stations. '
      parameters:
        - schema:
            type: string
          in: query
          name: zip
          description: 'Postal code. If the country is not specified, the search uses USA Zip Code as the default.'
        - schema:
            type: string
            default: standard
            enum:
              - standard
              - metric
              - imperial
          in: query
          name: units
          description: 'Units of measurement. standard, metric and imperial units are available. If you do not use the units parameter, standard units will be applied by default.'
        - schema:
            type: string
          in: query
          name: q
          description: |-
            City name, state code and country code divided by comma, use ISO 3166 country codes.
            You can specify the parameter not only in English. In this case, the API response should be returned in the same language as the language of requested location name if the location is in our predefined list of more than 200,000 locations.
        - schema:
            type: string
          in: query
          name: id
          description: |-
            City ID. List of city ID 'city.list.json.gz' can be downloaded [here](http://bulk.openweathermap.org/sample/)
            The limit of locations is 20.
        - schema:
            type: string
          in: query
          name: lat
          description: Geographical coordinates (latitude)
        - schema:
            type: string
          in: query
          name: lon
          description: Geographical coordinates (longitude)
        - schema:
            type: string
            default: en
          in: query
          name: lang
          description: 'You can use this parameter to get the output in your language. [Learn more](https://openweathermap.org/current#multi)'
        - schema:
            type: string
            enum:
              - xml
              - html
              - json
            default: json
          in: query
          name: mode
          description: Response format. Possible values are xml and html. If you don't use the mode parameter format is JSON by default.
        - schema:
            type: string
          in: query
          name: appid
          description: Your unique API key
          required: true
components:
  schemas: {}
  securitySchemes:
    app_id:
      name: appid
      type: apiKey
      in: query
tags:
  - name: weather endpoints
